@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #D2E8E3
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #D2E8E3;
    background-color: #0F6466;
    height: 7vh;
    z-index: 1;
    animation: header 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

@keyframes header {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

.menu-content {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    list-style: none;
    text-decoration: none
}

.menu-content .logo a {
    color: #D2E8E3;
    font-size: 5rem;
    letter-spacing: 1rem;
    cursor: pointer;
    text-decoration: none
}

.menu-content .list-itens {
    display: flex;
    gap: 20px
}

.menu-content .list-itens a {
    text-decoration: none;
    color: #D2E8E3;
    font-weight: 700;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative
}

.menu-content .list-itens a::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFCB9A;
    transition: all 1.5s ease
}

.menu-content .list-itens a:hover::before {
    width: 100%
}

.menu-content .list-itens .github a {
    color: #000
}

main {
    color: #D2E8E3;
    background-color: #0F6466;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    flex-direction: column
}

.main-content .primary-text {
    position: relative;
    font-size: 8rem;
    margin-bottom: 1rem;
    letter-spacing: .5rem
}

.main-content .primary-text::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #fff;
    animation: typing 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: #0F6466
}

@keyframes typing {
    100% {
        left: 100%;
        border-color: #0F6466;
        width: 0
    }
}

.main-content .second-text {
    position: relative;
    font-size: 3rem;
    margin-bottom: 5rem;
    opacity: 80%;
    letter-spacing: .5rem
}

.main-content .second-text::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    border-right: 2px solid #fff;
    animation: typing-second 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background: #0F6466
}

@keyframes typing-second {
    100% {
        right: 100%;
        border-color: #0F6466;
        width: 0
    }
}

.main-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 62px;
    cursor: pointer;
    border: 1px solid #000;
    color: #D2E8E3;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: .2rem;
    position: relative;
    transition: 1.5s;
    z-index: 0
}

.main-content button::before {
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: #FFCB9A;
    transition: 1s;
    z-index: -1;
    opacity: 50%
}

.main-content button:hover::before {
    width: 100%
}

.projects-content {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.projects-content .card-container,
.projects-content .card-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 60vh;
    animation: width-card-container 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

@keyframes width-card-container {
    0% {
        width: 0
    }

    100% {
        width: 40vw
    }
}

.projects-content .card-container .card,
.projects-content .card-container2 .card2 {
    background-color: #2C3532;
    border-radius: 16px;
    overflow: hidden;
    max-width: 37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: all .5s
}

.projects-content .card-container .card-active,
.projects-content .card-container2 .card-active {
    background-color: #0F6466
}

.projects-content .card-container .card .img {
    background-image: url(images/bitmap.png);
    background-position: center;
    background-size: cover;
    width: 37rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all .5s
}

.projects-content .card-container2 .card2 .img2 {
    background-image: url(images/rect65.png);
    background-position: center;
    background-size: cover;
    width: 37rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all .5s
}

.projects-content .card-container .card .img-active,
.projects-content .card-container2 .card2 .img-active {
    width: 44rem;
    opacity: 1
}

.projects-content .card-container .card .content,
.projects-content .card-container2 .card2 .content2 {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
    transform: translateY(30px);
    opacity: 0
}

.projects-content .card-container .card .arrow,
.projects-content .card-container2 .card2 .arrow2 {
    padding-bottom: 15px;
    font-size: 2rem;
    color: #D2E8E3;
    transform: rotate(-180deg);
    transition: all .5s
}

.projects-content .card-container .card .content-active,
.projects-content .card-container2 .card2 .content-active {
    padding: 20px;
    height: 30rem;
    transform: translateY(0);
    opacity: 1
}

.projects-content .card-container .card .content .title,
.projects-content .card-container2 .card2 .content2 .title {
    letter-spacing: .2rem;
    font-size: 2rem;
    color: #D2E8E3;
    font-weight: 700
}

.projects-content .card-container .card .content .desc,
.projects-content .card-container2 .card2 .content2 .desc {
    letter-spacing: .2rem;
    font-size: 1.3rem;
    color: #D2E8E3;
    margin-top: 1rem;
    text-align: justify;
    letter-spacing: .1rem;
    opacity: 80%;
    margin-bottom: 0
}

.projects-content .card-container .card .content-active .title,
.projects-content .card-container2 .card2 .content-active .title {
    letter-spacing: .2rem;
    font-size: 2rem;
    color: #D2E8E3;
    font-weight: 700
}

.projects-content .card-container .card .content-active .desc,
.projects-content .card-container2 .card2 .content-active .desc {
    letter-spacing: .2rem;
    font-size: 1.3rem;
    color: #D2E8E3;
    margin-top: 1rem;
    text-align: justify;
    letter-spacing: .1rem;
    opacity: 80%;
    margin-bottom: 0
}

.projects-content .card-container .card .arrow-active,
.projects-content .card-container2 .card2 .arrow-active {
    padding-bottom: 15px;
    font-size: 2rem;
    color: #D2E8E3;
    transform: rotate(0)
}

.projects-content .slider-container {
    width: 58vw;
    height: 58vh;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: none;
    animation: width-slider-container .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

@keyframes width-slider-container {
    0% {
        width: 0
    }

    100% {
        width: 58vw
    }
}

.projects-content .slider-container .slides {
    width: 400%;
    height: 58vw;
    display: flex
}

.projects-content .slider-container .slides input[type="radio"] {
    display: none
}

.projects-content .slider-container .slides .slide {
    width: 25%;
    position: relative;
    transition: all .5s
}

.projects-content .slider-container .slides .slide img {
    width: 100%;
    height: 58vh;
    border-radius: 20px
}

.projects-content .slider-container .slides .slide video {
    width: 100%;
    height: 58vh
}

.projects-content .slider-container .slides #slide1:checked~.primary {
    margin-left: 0
}

.projects-content .slider-container .slides #slide2:checked~.primary {
    margin-left: -25%
}

.projects-content .slider-container .slides #slide3:checked~.primary {
    margin-left: -50%
}

.projects-content .slider-container .slides #slide4:checked~.primary {
    margin-left: -75%
}

.projects-content .slider-container .slides #slide1:checked~.manual-navigation .manual-btn1 {
    background-color: #2C3532
}

.projects-content .slider-container .slides #slide2:checked~.manual-navigation .manual-btn2 {
    background-color: #2C3532
}

.projects-content .slider-container .slides #slide3:checked~.manual-navigation .manual-btn3 {
    background-color: #2C3532
}

.projects-content .slider-container .slides #slide4:checked~.manual-navigation .manual-btn4 {
    background-color: #2C3532
}

.projects-content .slider-container .manual-navigation {
    position: absolute;
    width: 58vw;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.projects-content .slider-container .manual-navigation .manual-btn {
    border: 2px solid #2C3532;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s
}

.projects-content .slider-container .manual-navigation .manual-btn:not(:last-child) {
    margin-right: 40px
}

.projects-content .slider-container .manual-navigation .manual-btn:hover {
    background-color: #2C3532
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.contacts-container .contact {
    margin-bottom: 5rem;
    animation: contact 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1
}

.contacts-container .contact a {
    text-decoration: none;
    padding: 2rem;
    font-size: 2rem;
    color: #D2E8E3;
    background-color: #2C3532;
    border-radius: 50%;
    transition: all .5s
}

.contacts-container .contact:hover a {
    color: #2C3532;
    background-color: #D2E8E3
}

.contacts-container .contact-email {
    cursor: pointer
}

#success-balloon {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    display: none
}

@keyframes contact {
    0% {
        margin-top: -20rem
    }

    100% {
        margin-top: 10rem
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 60%
    }

    .menu-content .logo a {
        font-size: 4rem;
        letter-spacing: .4rem
    }

    .menu-content {
        font-size: 1.4rem
    }

    main {
        height: 40vh
    }

    .main-content .primary-text {
        font-size: 6rem
    }

    .main-content .second-text {
        font-size: 2rem
    }

    .main-content button {
        width: 200px;
        height: 62px
    }

    .projects-content {
        margin-top: 0;
        flex-direction: column
    }

    .projects-content .card-container,
    .projects-content .card-container2 {
        width: 100%;
        animation: width-card-container-responsive 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1
    }

    @keyframes width-card-container-responsive {
        0% {
            width: 0
        }

        100% {
            width: 100%
        }
    }

    .projects-content .card-container .card .content-active,
    .projects-content .card-container2 .card2 .content-active {
        height: 20rem
    }

    .projects-content .slider-container {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        animation: width-slider-container-responsive 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1
    }

    @keyframes width-slider-container-responsive {
        0% {
            width: 0
        }

        100% {
            width: 100%
        }
    }

    .projects-content .slider-container .slides .slide img {
        width: 100%;
        height: 100%
    }

    .projects-content .slider-container .slides .slide video {
        width: 100%;
        height: 100%
    }

    .projects-content .slider-container .manual-navigation {
        width: 100%
    }
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 50%
    }

    .menu-content .logo a {
        font-size: 3rem;
        letter-spacing: .4rem
    }

    .menu-content {
        font-size: 1.2rem
    }

    .menu-content .list-itens a {
        padding: 1rem
    }

    .menu-content .list-itens {
        display: flex;
        list-style: none;
        gap: 0
    }

    main {
        height: 40vh
    }

    .main-content .primary-text {
        font-size: 5rem
    }

    .main-content .second-text {
        font-size: 2rem
    }

    .main-content button {
        width: 200px;
        height: 62px
    }

    .projects-content {
        margin-top: 0;
        flex-direction: column
    }

    .projects-content .card-container,
    .projects-content .card-container2 {
        width: 100%
    }

    .projects-content .card-container .card .content-active,
    .projects-content .card-container2 .card2 .content-active {
        overflow: auto;
    }

    .projects-content .card-container .card,
    .projects-content .card-container2 .card2 {
        max-width: 30rem;
        
    }

    .projects-content .card-container .card .img {
        width: 37rem;
        
    }
    
    .projects-content .card-container2 .card2 .img2 {
        width: 37rem;
        
        
    }

    .projects-content .card-container .card .img-active,
    .projects-content .card-container2 .card2 .img-active {

        width: 30rem;
        height: 15rem;
    }
}